@import url(https://fonts.google.com/specimen/Outfit);

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    
  }

  *,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container{
    background-color:var(--Very-dark-blue-main-BG);
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    
}
.card{
    
    max-width: 30rem;
    padding: 2rem;
    background-color:  var(--Very-dark-blue-card-BG);
    border-radius: 5px;
   
    
}
.main-image img{
    max-width: 100%;
    border-radius: 5px;
    
  
}

.main-image a{
    text-decoration: none;
}


.heading h3{
    
    display: inline-block;
    font-size: 1.8rem;
    color: var(--Cyan);
    font-family: "Outfit";
    font-weight: 600;

}

.heading a{
    display: inline-block;
    font-size: 1.8rem;
    font-family: "Outfit";
    color: var(--Cyan);
    text-decoration: none;
    margin: 2rem 0 1rem;
}
.desc{
    display: inline-block;
    color: var(--Soft-blue);
    font-size: 1.5rem;
    font-family: "Outfit";
    margin: 1rem 0;
}

.things{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.quantity{
    display: inline-block;
 color: var(--Cyan);
 font-size: 1.2rem;
 font-family: "Outfit";

}
.quantity img{
    
    width: 1rem;
   
}
.time{
    display: inline-block;
 color: var(--Cyan);
 font-size: 1.2rem;
 font-family: "Outfit";

}

.time img{
   
    width: 1rem; 
   
}

hr {
    
    flex-grow: 1;
    border: 0.5px solid var(--Very-dark-blue-line);
   
  }
  .creator {
    /* margin-top: 2rem; */
    display: flex;
    align-items: center;
   
  }
  .creator img {
    height: 4rem;
    width: 4rem;
  }
  .creator-name{
    display: flex;
    margin: 2rem 0 1rem 2rem;
    justify-content: space-between
  }
  .creator-name p{
    color: var(--Soft-blue);
 font-size: 1.5rem;
 font-family: "Outfit";
 padding-right: 0.5rem;
  }
  .creator-name a{
    color: var(--Cyan);
 font-size: 1.5rem;
 font-family: "Outfit";
 text-decoration: none;

  }

  